<div class="card mt-4">
  <div class="card-header">
    <h2>{{ isEditMode ? 'Editar Préstamo' : 'Crear Nuevo Préstamo' }}</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="id_usuario" class="form-label">Usuario</label>
        <select id="id_usuario" formControlName="id_usuario" class="form-select"
                [class.is-invalid]="loanForm.get('id_usuario')?.invalid && loanForm.get('id_usuario')?.touched">
          <option [ngValue]="null" disabled>Selecciona un usuario</option>
          <option *ngFor="let user of users" [ngValue]="user.id">{{ user.nombre }} ({{ user.email }})</option>
        </select>
        <div *ngIf="loanForm.get('id_usuario')?.invalid && loanForm.get('id_usuario')?.touched" class="invalid-feedback">
          El usuario es obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <label for="id_libro" class="form-label">Libro</label>
        <select id="id_libro" formControlName="id_libro" class="form-select"
                [class.is-invalid]="loanForm.get('id_libro')?.invalid && loanForm.get('id_libro')?.touched">
          <option [ngValue]="null" disabled>Selecciona un libro</option>
          <ng-container *ngIf="!isEditMode">
            <option *ngFor="let book of books" [ngValue]="book.id">{{ book.titulo }} ({{ book.autor }})</option>
          </ng-container>
          <ng-container *ngIf="isEditMode">
            <option *ngFor="let book of books" [ngValue]="book.id">{{ book.titulo }} ({{ book.autor }}) {{ book.disponible ? '' : '(No Disponible)' }}</option>
          </ng-container>
        </select>
        <div *ngIf="loanForm.get('id_libro')?.invalid && loanForm.get('id_libro')?.touched" class="invalid-feedback">
          El libro es obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <label for="fecha_prestamo" class="form-label">Fecha de Préstamo</label>
        <input type="date" id="fecha_prestamo" formControlName="fecha_prestamo" class="form-control"
               [class.is-invalid]="loanForm.get('fecha_prestamo')?.invalid && loanForm.get('fecha_prestamo')?.touched">
        <div *ngIf="loanForm.get('fecha_prestamo')?.invalid && loanForm.get('fecha_prestamo')?.touched" class="invalid-feedback">
          La fecha de préstamo es obligatoria.
        </div>
      </div>

      <div class="mb-3">
        <label for="fecha_devolucion" class="form-label">Fecha de Devolución (Opcional)</label>
        <input type="date" id="fecha_devolucion" formControlName="fecha_devolucion" class="form-control">
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="loanForm.invalid">
          {{ isEditMode ? 'Guardar Cambios' : 'Crear Préstamo' }}
        </button>
      </div>
    </form>
  </div>
</div>